@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


.info-image {
    &::before{
        content: "";
        width: 110%;
        height: 110%;
        background: #1b3e82;
        position: absolute;
        top: -5%;
        left: -5%;
    }

    &::after{
        content: "";
        width: 50%;
        height: 50%;
        background: #2452ae;
        position: absolute;
        top: -20%;
        left: -30%;
        z-index: -1;
    }
}

.footer{
    &::before{
        content: "";
        width: 100%;
        height: 5%;
        background: #2452ae;
        position: absolute;
        top: -5%;
    }
}

.email-us{
    left: calc(48%);
    top: -10%;
}